header.header
    nav.nav
        a.nav__logo(href="/") URL SHORTENER

        .nav__items
            a.nav__items--link(href="/") Home
            a.nav__items--link(href="/our-services") Our Services
            a.nav__items--link(href="/about-us") About Us

        .nav__cta
            a.nav__cta--action(href="/join-us") Join Us
