extends base

block content
    main.main
        h1.main__main--heading Shorter your loooooooong URLs like never before
        p.main__sub--heading Copy your long boring url.

        a(href="") Join Us
        a(href="") Short URL Now