@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

::-moz-selection {
  background-color: #00ADB5;
  color: #fff;
}

::selection {
  background-color: #00ADB5;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Josefin Sans", serif;
  color: #777;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

// Basic Elements

.button {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: none;
  font: 700 13px/18px Helvetica, arial;
  cursor: pointer;
}

.button__state--success {
  background-color: #00ADB5;
  color: #fff;
}

.button__state--danger {
  background-color: red;
  color: #fff;
}

// Navbar
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333333;
  color: white;

  &__logo {
    font-size: 16px;
  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;

    &--link {
      padding: 0 20px;
      font-size: 16px;
    }
  }

  &__cta {
    padding: 5px 20px;
    background-color: #00ADB5;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
  }
}

//